/* 
Comentario en CSS
A B C D E F G H I J K L M N Ñ O P Q R S T U V W X Y Z

Regla CSS consta de 2 partes 
 1) el selector
 2) bloque de declaraciones: {
  atributo: valor;
  atributo-de-mas-dos-palabras: otro-valor;
}

h1 {
  color: white;
  background-color: #16324f;
  text-align: center;
}

body {
  background-color: #0d1117;
  color: #fff;
  padding: 20px;
}

    colores
        #074173
    Selectores basicos 
        1) Etiquetas son elementos html
        2) Identificadores atributo id #
        3) Clase atributo class .
*/
/*2:32:36*/

.bg-sky-blue {
  background-color: cadetblue;
}

.bg-steelblue {
  background-color: cadetblue;
}

html {
  scroll-behavior: smooth;
}

/*no usar id pa css*/
#parrafoDos {
  background-color: #fff;
}

/*dar estilos en clase nois permite reutilizar nuestro codigo css*/
.text20 {
  font-size: 20px;
}

.text32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.hijosDirectos > li {
  background-color: cadetblue;
}

.hijosDecendientes b {
  background-color: cadetblue;
}

/*los selectores de hermanos van a aplicar a los elementos que son hermanos y que esten por debajo del elemento de referencia*/
.hermanosGeneral ~ li {
  background-color: cadetblue;
}

.hermanosAdyacentes + li {
  background-color: cadetblue;
}
/*selectores de atributos*/
.selectoresAtributos a[href] {
  color: orange;
}

.selectoresAtributos a[target="_blank"] {
  /*negritas*/
  font-weight: bold;
}

/*si el href tiene este texto en cualquier parte*/
.selectoresAtributos a[href*="jonmircha"] {
  /*tamanio del texto*/
  font-size: 24px;
}

/* ^ cuando contiene el texto al inicio*/
.selectoresAtributos a[href^="https"] {
  /*le quita la decoracion*/
  text-decoration: none;
}

/* $ cuando contiene el texto al termino*/
.selectoresAtributos a[href$="com"] {
  color: cadetblue;
}

/*separa por espacios */
.selectoresAtributos a[class~="Button"] {
  background-color: cadetblue;
}

/*el comodin de | aplica al estilo si contiene el texto en cuestion en una lista separada por espacios y que despues del texto en cuestion pueda venir de un guion medioS*/
.selectoresAtributos a[class|="Button"] {
  font-style: italic;
}

* {
  font-family: sans-serif;
}

.selectorUniversal * {
  font-size: 24px;
}

/*dan estilos dependiendo del contexto, posicion estado o elementos*/
.formPseudoclases *:required {
  border-color: orange;
}

.formPseudoclases *:valid {
  border-color: green;
}

.formPseudoclases *:invalid {
  border-color: red;
}

.formPseudoclases *:focus {
  background-color: skyblue;
}

.formPseudoclases *:disabled {
  background-color: red;
}

.menuPseudoClases a:visited {
  color: red;
}

/*hasta el final*/
.menuPseudoClases a:hover {
  color: greenyellow;
}

.pPsuedoclases {
  font-size: 20px;
}

#temarioCSS:target {
  background-color: cadetblue;
}

.listaPseudo li:first-child {
  color: chartreuse;
}

.listaPseudo li:last-child {
  color: cadetblue;
}

.listaPseudo li:nth-child(3) {
  color: blue;
}

/*de cuatro en cuatro*/
.listaPseudo li:nth-child(4n) {
  font-size: 20px;
}

.listaPseudo li:nth-child(3n + 1) {
  font-weight: bold;
}

/*pares*/
.listaPseudo li:nth-child(even) {
  background-color: grey;
}

/*impares*/
.listaPseudo li:nth-child(odd) {
  background-color: cadetblue;
}

/*primer parrafo hijo del article le pondra rosa*/
.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}
/*ultimo*/
.articulo-pseudoclases p:last-of-type {
  background-color: pink;
}

.articulo-pseudoclases p:nth-of-type(3) {
  background-color: teal;
}

/*si son diferentes de p se tintan*/
.articulo-pseudoclases *:not(p) {
  background-color: beige;
}

/*pseudoelementos*/
.geminis::before {
  content: " GOAT ";
  background-color: violet;
}

.geminis::after {
  content: " GOATT ";
}

.p-psuedoelementos::first-letter {
  font-weight: bold;
  font-size: 32px;
  background-color: yellowgreen;
}

.p-psuedoelementos::first-line {
  color: coral;
}

/*selector del mouse*/
.p-psuedoelementos::selection {
  color: greenyellow;
  background-color: black;
}

.input-pseudoelementos::placeholder {
  color: green;
}

/* agrupar selectores*/

.form-agregar-selectores input[type="text"],
.form-agregar-selectores input[type="email"],
.form-agregar-selectores textarea {
  border-color: coral;
  border-width: 2px;
  border-style: dashed;
  background-color: cadetblue;
  font-size: 20px;
  display: block;
  width: 300px;
}

/* 
El Algoritmo de CSS: Es la forma en que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas como se aplican y en algunas ocasiones 
se sobreescriben las reglas CSS.
  1) La Cascada.
  2) La Especificidad.
  3) La Herencia.

La Cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:
  1) El Origen del Código:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario.
    - Los estilos del autor.
  2) La Especificidad del Selector
  3) Orden de Aparición

La Especificidad es el peso que tiene un selector cuando hay conflicto de estilos. Se calcula de la siguiente forma:
  Etiquetas y pseudoelementos -------------- 0,0,0,1
  Clases, atributos y pseudoclases ------------0,0,1,0
  Identificadores -------------------------------0,1,0,0
  Estilos en línea--------------------------------1,0,0,0
  !important ------------------Rompe la especificidad

La Herencia, es la capacidad de un selector de obtener (heredar) los valores de sus ancestros más cercanos, para aplicarla se usa el valor inherit, si queremos evitarla podemos 
asignar otro valor o inicializar la propiedad en cuestión con el valor initial

https://web.dev/learn/css/inheritance/#which-properties-are-inheritable
*/

blockquote#marco-aurelio.marco-aurelio {
  background-color: cadetblue;
}

blockquote {
  background-color: burlywood;
}

.marco-aurelio {
  background-color: crimson!important;
}

blockquote.marco-aurelio {
  background-color: aqua;
}

.marco-aurelio {
  background-color: blueviolet;
}

blockquote#marco-aurelio {
  background-color: chartreuse
}

/*este queda por cascada*/
.marco-aurelio {
  background-color: darkorange!important;
}

.marco-aurelio {
  background-color: moccasin !important;
}

.marco-aurelio cite {
  background-color: chartreuse;
  background-color: inherit;
}




